@use "../../base";

button.close-button {
  position: absolute;
  right: base.$spacing;
  top: base.$spacing;
  color: var(--mui-palette-grey-500);
}

.save-button {
  display: flex;
  justify-content: center;
  padding: base.$spacing;
}
